# Módulo 12

**Juliho Castillo**

## Instrucciones 

1. Descargar el archivo “Height of Male and Female by Country 2022.csv” desde aqui.
1. Cambiar directorio a un directorio de su preferencia
1. Leer el archivo CSV mencionado 
1. Imprimir las primeras 50 líneas
1. Calcular la media, mínima y máxima altura de hombres y mujeres del data set completo 
1. Obtener la data de alturas de su país de origen

### Tarea 1 
Imprimir las primeras 50 líneas

In [27]:
'''
Primero, obtendremos los resultados utilizando `Pandas`
'''
import pandas as pd

# Cargando el archivo de datos
data = pd.read_csv('./data.csv')

# Verificando las primeras filas para entender la estructura de los datos
data.head(50)

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
0,1,Netherlands,183.78,170.36,6.03,5.59
1,2,Montenegro,183.30,169.96,6.01,5.58
2,3,Estonia,182.79,168.66,6.00,5.53
3,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,5,Iceland,182.10,168.91,5.97,5.54
5,6,Denmark,181.89,169.47,5.97,5.56
6,7,Czech Republic,181.19,167.96,5.94,5.51
7,8,Latvia,181.17,168.81,5.94,5.54
8,9,Slovakia,181.02,167.12,5.94,5.48
9,10,Slovenia,180.98,167.20,5.94,5.49
10,11,Ukraine,180.98,166.62,5.94,5.47
11,12,Croatia,180.76,166.80,5.93,5.47
12,13,Serbia,180.74,168.29,5.93,5.52
13,14,Lithuania,180.72,167.63,5.93,5.50
14,15,Poland,180.69,165.78,5.93,5.44
15,16,Finland,180.57,166.48,5.92,5.46
16,17,Norway,180.48,166.45,5.92,5.46
17,18,Sweden,180.46,166.67,5.92,5.47
18,19,Germany,180.28,166.18,5.91,5.45
19,20,Dominica,180.15,166.89,5.91,5.48
20,21,Bermuda,179.72,166.11,5.90,5.45
21,22,Puerto Rico,179.48,163.06,5.89,5.35
22,23,Greece,179.26,165.81,5.88,5.44
23,24,Belgium,179.09,163.40,5.88,5.36
24,25,Ireland,179.04,164.50,5.87,5.40
25,26,Lebanon,178.96,163.67,5.87,5.37
26,27,Andorra,178.84,165.53,5.87,5.43
27,28,Antigua and Barbuda,178.84,165.72,5.87,5.44
28,29,Australia,178.77,164.67,5.87,5.40
29,30,Canada,178.75,164.73,5.86,5.40
30,31,Switzerland,178.73,164.33,5.86,5.39
31,32,Grenada,178.70,165.99,5.86,5.45
32,33,Belarus,178.69,166.93,5.86,5.48
33,34,France,178.60,164.49,5.86,5.40
34,35,Austria,178.52,166.93,5.86,5.48
35,36,Luxembourg,178.46,165.07,5.86,5.42
36,37,Cook Islands,178.32,167.31,5.85,5.49
37,38,French Polynesia,178.32,166.52,5.85,5.46
38,39,United Kingdom,178.21,163.94,5.85,5.38
39,40,Romania,177.82,164.73,5.83,5.40
40,41,New Zealand,177.72,164.66,5.83,5.40
41,42,Saint Vincent and the Grenadines,177.49,165.30,5.82,5.42
42,43,Niue,177.19,167.03,5.81,5.48
43,44,American Samoa,177.09,167.55,5.81,5.50
44,45,Barbados,177.03,165.66,5.81,5.44
45,46,Jamaica,176.97,164.32,5.81,5.39
46,47,United States,176.94,163.31,5.81,5.36
47,48,Tunisia,176.85,161.69,5.80,5.30
48,49,Russia,176.65,164.52,5.80,5.40
49,50,Hungary,176.59,162.55,5.79,5.33

In [28]:
# Calculando media, mínima y máxima altura para hombres y mujeres en centímetros
resultados = {
    "Media Altura Hombres (cm)": data["Male Height in Cm"].mean(),
    "Mínima Altura Hombres (cm)": data["Male Height in Cm"].min(),
    "Máxima Altura Hombres (cm)": data["Male Height in Cm"].max(),
    "Media Altura Mujeres (cm)": data["Female Height in Cm"].mean(),
    "Mínima Altura Mujeres (cm)": data["Female Height in Cm"].min(),
    "Máxima Altura Mujeres (cm)": data["Female Height in Cm"].max()
}

resultados

{'Media Altura Hombres (cm)': 173.08904522613065,
 'Mínima Altura Hombres (cm)': 160.13,
 'Máxima Altura Hombres (cm)': 183.78,
 'Media Altura Mujeres (cm)': 160.9429145728643,
 'Mínima Altura Mujeres (cm)': 150.91,
 'Máxima Altura Mujeres (cm)': 170.36}

### Tarea 2
Calcular la media, mínima y máxima altura de hombres y mujeres del data set completo

In [29]:
'''
Ahora realizaremos el mismo cálculo utilizando los módulos básicos de Python
''' 

# Usando los paquetes básicos de Python para leer el archivo CSV y calcular las estadísticas solicitadas
import csv

# Rutas al archivo CSV
file_path = './data.csv'

# Inicializando listas para almacenar las alturas de hombres y mujeres
male_heights = []
female_heights = []

# Leyendo el archivo CSV
with open(file_path, mode='r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        male_heights.append(float(row['Male Height in Cm']))
        female_heights.append(float(row['Female Height in Cm']))

# Calculando media, mínima y máxima altura para hombres y mujeres
male_heights_mean = sum(male_heights) / len(male_heights)
male_heights_min = min(male_heights)
male_heights_max = max(male_heights)

female_heights_mean = sum(female_heights) / len(female_heights)
female_heights_min = min(female_heights)
female_heights_max = max(female_heights)

male_heights_mean, male_heights_min, male_heights_max, female_heights_mean, female_heights_min, female_heights_max

(173.08904522613054, 160.13, 183.78, 160.9429145728643, 150.91, 170.36)

In [30]:
'''
Finalmente, realizamos los mismos cálculos pero utilizando herramientas de programación funcional 
'''
# Utilizando herramientas de programación funcional para procesar la información y calcular las estadísticas

# Reabriendo el archivo CSV
with open(file_path, mode='r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    # Usando map para convertir las alturas a flotantes
    male_heights = list(map(lambda x: float(x['Male Height in Cm']), csv_reader))
    csv_file.seek(0) # Reiniciando el lector CSV para leer nuevamente para las mujeres
    next(csv_reader) # Saltando el encabezado
    female_heights = list(map(lambda x: float(x['Female Height in Cm']), csv_reader))

# Utilizando funciones de programación funcional para calcular estadísticas
from functools import reduce

# Calculando media, mínima y máxima para hombres
male_heights_mean = reduce(lambda x, y: x + y, male_heights) / len(male_heights)
male_heights_min = reduce(lambda x, y: x if x < y else y, male_heights)
male_heights_max = reduce(lambda x, y: x if x > y else y, male_heights)

# Calculando media, mínima y máxima para mujeres
female_heights_mean = reduce(lambda x, y: x + y, female_heights) / len(female_heights)
female_heights_min = reduce(lambda x, y: x if x < y else y, female_heights)
female_heights_max = reduce(lambda x, y: x if x > y else y, female_heights)

male_heights_mean, male_heights_min, male_heights_max, female_heights_mean, female_heights_min, female_heights_max

(173.08904522613054, 160.13, 183.78, 160.9429145728643, 150.91, 170.36)

### Tarea 3
Obtener la data de alturas de su país de origen

In [31]:
import csv

# Ruta al archivo CSV
file_path = './data.csv'

# Inicializar variables para almacenar datos
male_heights_cm = []
female_heights_cm = []

# Abrir y leer el archivo CSV
with open(file_path, mode='r', encoding='utf-8') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        if row['Country Name'] == 'Mexico':
            male_heights_cm.append(float(row['Male Height in Cm']))
            female_heights_cm.append(float(row['Female Height in Cm']))

# Calcular estadísticas para la altura de hombres en CM
male_mean = sum(male_heights_cm) / len(male_heights_cm) if male_heights_cm else 0
male_min = min(male_heights_cm) if male_heights_cm else 0
male_max = max(male_heights_cm) if male_heights_cm else 0

# Calcular estadísticas para la altura de mujeres en CM
female_mean = sum(female_heights_cm) / len(female_heights_cm) if female_heights_cm else 0
female_min = min(female_heights_cm) if female_heights_cm else 0
female_max = max(female_heights_cm) if female_heights_cm else 0

(male_mean, male_min, male_max), (female_mean, female_min, female_max)

((170.29, 170.29, 170.29), (157.9, 157.9, 157.9))